body {
    background-color: #483b3b;
    font-family: Arial, sans-serif;
    color: antiquewhite;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    /* margin: 0;
    padding: 0; */
}
container {
    display: flex;
    float: left;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
}