body {
    background-color: #294956;
    font-family: Arial, sans-serif;
    color: rgb(245, 188, 114);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    /* margin: 0;
    padding: 0; */
}
.container {
    display: flex;
    float: left;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
}
