/* body {
     background-color: #acc2cb;
    font-family: Arial, sans-serif;
    color: rgb(20, 29, 41);
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
    outline: 1px solid rgb(46, 48, 58);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
} */
.main1 {
    background-color: #acc2cb;
    font-family: Arial, sans-serif;
    color: rgb(20, 29, 41);
    justify-content: center;
    align-items: center; 
    margin: 30px auto;
    width: 45%;
    outline: 1px solid rgb(46, 48, 58);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    
}
button {
    float: right;
}

/* .container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
footer {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1080px) {
    .main1 {
        width: 40%;
    }
    
}